name: Builds

on:
  push:
    branches:
      - "**"
    tags-ignore:
      - "**"

jobs:
  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install
        run: yarn install

      - name: Build
        run: yarn run build

      - name: Run
        run: ts-node ./src/index.ts
